<section id="last-footer" style="margin-top: 49px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <h4>Contact Us</h4>
                <button type="button" class="btn btn-outline-dark "><i
                        class="far fa-envelope"><span>Infotech@gmail.com</span></i></button><br><br>
                <!-- <button type="button" class="btn btn-outline-dark "><i class="fas fa-phone"><span>Toll Free :
                            199</span></i></button><br><br> -->
                <div class="followUs">
                    <h4>Follow Us</h4>
                    <a href=""><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.facebook.com/estkhar.alam.3726"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/ansari_estkhar12/"><i class="fab fa-instagram-square"></i></a>
                    <a href="https://inforetina.blogspot.com/"><i class="fab fa-google-plus-square"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>INFOTECH Head Office</h4>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas rerum hic aut repellendus vero
                    nam dolorem ratio Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, odit.</P>
            </div>
            <div class="col-lg-3">
                <h4>Government Of India</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eius illum at? Illum praesentium
                    pariatur quaerat amet neque mollitia vero, iure dignissimos ex illo laboriosam perspiciati!</p>
            </div>
            <div class="col-lg-3">
                <h4>Our privecy policy </h4>
                <p>Hello user you are my respective customer and you are everythings and everywhere. this my
                    responsible Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit.</p>

            </div>
        </div>
    </div>
    <div class="copyright">
        <p>All Right Reserved! | Made by <a href="https://github.com/Estkhar12" target="_blank">Estkhar Ansari</a></p>
    </div>
</section>